.city_weather{
    height:200px ;
    width: 900px;
    margin: 40px auto;
    display: flex;
    
}
.city_weather_first{
    height: 200px;
    width: 250px;
    background-color: rgba(177, 174, 174, 0.237);
    border-radius: 25px;
    text-align: center;
    
}
.city_weather_second{
    height: 200px;
    width: 250px;
    background-color: rgba(177, 174, 174, 0.237);
    margin-left: 75px;
    border-radius: 25px;
    text-align: center;
}
.city_weather_third{
    height: 200px;
    width: 250px;
    background-color: rgba(177, 174, 174, 0.237);
    margin-left: 75px;
    border-radius: 25px;
    text-align: center;
}
.info{
    margin: 20px auto;
    width: 900px;
}
.info_week{
    width: 300px; 
    border-radius: 5px;   
    background-color:#0f69a0;
    color:white;
    font-size: 20px;
    font-weight: 500 ;
    height: 45px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    border-collapse: collapse;
    width: 900px;
}
  
th, td {
    border: 2px solid rgba(94, 88, 88, 0.629);
    text-align: center;
    font-size: 17px;
    
    
}
.toptime{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
} 
.topdegree{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.toppop{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}
.weekpic{
    height: 60PX;
    width: 60PX;
    margin-top: 5px;
}
.weekdegree{
    font-size: 16px;
}
.title{
    background-color: #0f69a0;
    color:white;
    font-weight: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Noto Sans TC";
  }
  
  .nav-bar-div {
    position: relative;
    height: 54px;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 0.5px solid #c7d2d8;
  }
  .nav-bar-title-div {
    position: absolute;
    max-width: 1200px;
    width: 100%;
    height: 34px;
    top: 10px;
    display: flex;

  }
  .bar_title {
    position: absolute;
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #004f80;
    left: 10px;
    cursor: pointer;
  }


@media  (max-width: 1000px) {
   .info{
    width:90%;
    margin-left: 10px;
    
   }
   table{
    width: 100%;
   }
   .city_weather{
    width: 90%;
    margin-left: 10px;
   }
   .info_week{
    width:35% ;
    height:35px ;
   }
}
@media(max-width: 760px){
.city_weather_first{
    width: 90%;
    margin: 10px auto;
}
.city_weather_second{
    width: 90%;
    margin: 10px auto;
    
}
.city_weather_third{
    width: 90%;
    margin: 10px auto;
    
}
.city_weather{
    width: 90%;
    flex-wrap: wrap;
    height: 650px;
}
.toptime{
    font-size: 20px;
}

}
